/* Styles for Contact Page */
#contact-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

#contact-container h1 {
    text-align: center;
    color: #333;
}

#contact-container p {
    text-align: center;
    color: #666;
    margin-bottom: 20px;
}

#contact-container form {
    display: flex;
    flex-direction: column;
}

#contact-container label {
    margin-bottom: 10px;
}

#contact-container input,
#contact-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

#contact-container button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

#contact-container button:hover {
    background-color: #45a049;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  label {
    width: 500px; /* Adjust the width to your preference */
    text-align: right;
    margin-right: 10px;
  }
  input,
  select {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px; /* Adjust the font size to your preference */
    text-align: left; /* Align text to the left */
    border-left: 4px solid #000000; /* Border on the left side */
    margin-right: 480px; /* Spacing between input/select and border */
  }
  
  /* Placeholder text style */
  input::placeholder,
  select::placeholder {
    color: #999;
    font-size: 14px; /* Adjust the font size to your preference */
    text-align: center; /* Center the placeholder text horizontally */
  }