.contact-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
  }
  
  .left-container {
    flex: 1; /* Take up half the space */
    padding-right: 20px; /* Add some space between the columns */
  }
  
  .right-container {
    flex: 1; /* Take up the other half */
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"] {
    background-color: #4caf50; /* Use the theme color */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  /* Styling for the Google Map iframe */
  .google-map {
    width: 100%;
    height: 200px; /* Adjust height as needed */
    border: none;
  }
  